.feature-card {
	position: relative;
	margin: 0.75rem;
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	border-radius: 9999px;
	padding: 0.75rem 0.5rem;
	box-shadow: 0 0 10px 2px #ededed;
	background-color: rgba(255, 255, 255, 0.3);
	transition: transform 150ms ease-out;
}

// group relative m-3 flex flex-col gap-3 rounded-lg bg-white/30 px-2 py-3 shadow transition-transform before:absolute before:inset-0 before:-z-10 before:h-[101%] before:w-[101%] before:-translate-x-[0.5%] before:-translate-y-[0.5%] before:rounded-lg before:bg-gradient-to-bl before:from-cyan-300 before:via-teal-300 before:to-fuchsia-300 before:p-2 before:opacity-20 before:blur-sm before:transition-[opacity,transform] hover:before:opacity-30  hover:before:shadow-[0_0_15px_#fafafa] dark:bg-zinc-900  dark:shadow-none  dark:before:bg-gradient-to-bl  dark:before:from-neutral-700  dark:before:via-neutral-400/90   dark:before:to-neutral-900 dark:before:opacity-20 dark:before:blur-none dark:hover:before:opacity-100  dark:hover:before:shadow-[0_0_15px_#111] max-sm:mx-2
